@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
  font-family: 'Roboto', system-ui, sans-serif;
}
body,
h4,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --color-primary: #fdc987;
  --color-border: #f2f0eb;
  --color-text: #000;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --padding-sm: 0.75rem;
  --padding-md: 1.25rem;
}
